<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>Hola a Todos</h1>
    <table id="tabla"> 
        <thead>
            <tr>
                <th>Arg de Entrada</th>
                <th>Path de Ejec</th>
                <th>Sist Oper.</th>
                <th>Porcess ID</th>
                <th>Version Node</th>
                <th>Proyecto</th>
                <th>R.S.S.</th>
            </tr>
        </thead>

        <tr>
            <td><%=entrada%></td>
            <td><%=RutaEjecucion%></td>
            <td><%=Plataforma%></td>
            <td><%=IDProcess%></td>
            <td><%=version2%></td>
            <td><%=carpetaProyecto%></td>
            <td><%=UsodeMemoria%></td>
        </tr>

    </table>
</body>


</html>