<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Login</title>
</head>
<body>

    <!-- <h2>  <%=mensaje%> </h2> -->
    <h2>Bienvenida/o <%=nombre_del_usuario%></h2>
    <a href="logout">
        <button onclick="" type="submit" class="btn btn-primary">Logout</button>
    </a>
<hr>
<hr>
    <form action="" method="post">

        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo"><br>

        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio"><br>

        <label for="imagen">Imagen</label>
        <input type="image" name="imagen" id="imagen"><br>

    </form>
    
</body>

</html>