<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ejemplo1.css"><!--AL IGUAL QUE EN HANDLEBARS. EN SERVER.JS INDIQUÉ QUE LA APP 
                                               TIENE ACCESO A LA CARPETA PUBLIC. 
                                              Y ESTA RUTA ES RELATIVA A LA CARPETA PUBLIC 
SI EN CARPETA PUBLIC PUSIERA UN ARCHIVO INDEX.HTML REEMPLAZARIA TODO POR LO QUE ESTÉ EN ESE ARCHIVO -->
    
</head>
<body>
    <h1>Hola Mundo</h1>
</body>
</html>