html
    head 
        title="Mi primera plantilla PUG JS"
    body 
        h1= mensaje 
        //-REEMPLAZA POR EL VALOR QUE TENGA LA VIARBALE "MENSAJE QUE LE MANDO"
        //- EL IGUAL "=" TIENE QUE ESTAR PEGADO AL H1